@import "tailwindcss";

/* Light Mode Defaults */
:root {
	--background: #f9f9f9;
	--foreground: #717171;
	--border: #dddddd;
	--surface: #fdfdfd;
	--input-bg: #fefefe;
	--sidebar-menu-active-bg: #ca83f61a;
	--sidebar-menu-active-foreground: #7a05b5;
	--icon-bg: #dadada;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #f1f1f1;
		--border: #444444;
		--surface: #0a0a0a;
		--input-bg: #000000;
		--sidebar-menu-active-bg: #ca83f61a;
		--sidebar-menu-active-foreground: #a995b3;
		--icon-bg: #dadada;
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
	border-color: var(--border);
	font-family: var(--font-roboto), sans-serif;
}

.border,
.border-r,
.border-l,
.border-t,
.border-b,
.border-x,
.border-y {
	border-color: var(--border);
}

.surface {
	background-color: var(--surface);
}

.sidebar .active {
	background-color: var(--sidebar-menu-active-bg);
	color: var(--sidebar-menu-active-foreground);
}

input {
	background-color: var(--input-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-poppins), sans-serif;
}

.icon-background {
	background-color: var(--icon-bg);
	padding: 10px;
	border-radius: 6px;
}

