name: CI/CD

on:
 push:
  branches: ["main"]

jobs:
 build:
  environment: main
  runs-on: ubuntu-latest
  env:
   IMAGE_NAME: ${{ secrets.DOCKER_HUB_USERNAME }}/sidini:latest
  steps:
   - name: Checkout
     uses: actions/checkout@v3

   - name: Connect to Docker Hub
     uses: docker/login-action@v2
     with:
      username: ${{ secrets.DOCKER_HUB_USERNAME }}
      password: ${{ secrets.DOCKER_HUB_TOKEN }}

   - name: Setup Docker Buildx
     uses: docker/setup-buildx-action@v2

   - name: Build and Push Docker image
     uses: docker/build-push-action@v4
     with:
      file: ./Dockerfile
      push: true
      tags: ${{ env.IMAGE_NAME }}

 deployment:
  needs: build
  environment: main
  runs-on: ubuntu-latest
  env:
   CONTAINER_NAME: sidini
   IMAGE_NAME: ${{ secrets.DOCKER_HUB_USERNAME }}/sidini:latest
  steps:
   - name: Deploy to VPS
     uses: appleboy/ssh-action@master
     with:
      host: ${{ secrets.VPS_HOST }}
      username: ${{ secrets.VPS_USER }}
      password: ${{ secrets.VPS_PASSWORD }}
      port: ${{ secrets.VPS_SSH_PORT }}
      script: |
       docker stop ${{ env.CONTAINER_NAME }} || true
       docker rm ${{ env.CONTAINER_NAME }} || true
       docker pull ${{ env.IMAGE_NAME }}
       docker run -d --name ${{ env.CONTAINER_NAME }} -p 3000:3000 \
         ${{ env.IMAGE_NAME }}

   - name: Clean up unused Docker images
     uses: appleboy/ssh-action@master
     with:
      host: ${{ secrets.VPS_HOST }}
      username: ${{ secrets.VPS_USER }}
      password: ${{ secrets.VPS_PASSWORD }}
      port: ${{ secrets.VPS_SSH_PORT }}
      script: |
       docker image prune -a -f